<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=1.0,user-scalable=0" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>结果</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div style="display: none">
        <div id='zeroCount'>17</div>
        <div id='oneToTen'>19</div>
        <div id='elToTwo'>12</div>
        <div id='beyondTwo'>2</div>
    </div>
    <div class="container">
        <h2>简书程序员专题热门文章900篇代码块统计</h2>
        <div id="chart" class="chart"></div>
        <table>
            <thead>
                <tr>
                    <th>文章名</th>
                    <th>代码块数量</th>
                    <th>阅读量</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/ec9742e2cbfa>
                        emoji表情处理</td>
                        </a>
                    <td>9</td>
                    <td>423</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/f63d7d7d9f23>
                        商城项目实战 | 16.1 TabLayout 实现商品排序功能</td>
                        </a>
                    <td>11</td>
                    <td>1503</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/247d81806d3f>
                        OKhttp源码学习（九）—— 任务管理（Dispatcher）</td>
                        </a>
                    <td>6</td>
                    <td>1219</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/8d564b2c043c>
                        极其方便的系统原生图片选取库，已适配Android 7.0</td>
                        </a>
                    <td>7</td>
                    <td>661</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/e4b24a734ccc>
                        如何用Python做词云？</td>
                        </a>
                    <td>9</td>
                    <td>2787</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/0b2836bad14e>
                        机器学习实战-k近邻算法</td>
                        </a>
                    <td>15</td>
                    <td>760</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/791dbc8d5903>
                        为什么AlphaGo总能赢？</td>
                        </a>
                    <td>0</td>
                    <td>1201</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/90d921804bdc>
                        做一个很朴素的贝叶斯预测模型</td>
                        </a>
                    <td>17</td>
                    <td>992</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/5a802ddfe525>
                        抽象能力决定编程能力</td>
                        </a>
                    <td>0</td>
                    <td>1118</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/7592440f43f0>
                        iPhone 充电白苹果循环</td>
                        </a>
                    <td>0</td>
                    <td>228</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/3664f1d55d47>
                        更新（V1.2.0版）《阿里巴巴Java开发手册（正式版）》</td>
                        </a>
                    <td>0</td>
                    <td>1392</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/47edc286fec9>
                        如何快速发布你的点子？</td>
                        </a>
                    <td>0</td>
                    <td>2758</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/05a1cdbc74a3>
                        二分查找</td>
                        </a>
                    <td>4</td>
                    <td>199</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/8ca12235c97d>
                        Android蓝牙连接跳过pin验证弹框</td>
                        </a>
                    <td>4</td>
                    <td>249</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/5a334faf1866>
                        0045 JavaScript实现注册页面的项目输入检查</td>
                        </a>
                    <td>0</td>
                    <td>2842</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/1cdc0870b2b3>
                        20岁零基础转型软件测试，这件事告诉我们什么？</td>
                        </a>
                    <td>0</td>
                    <td>1196</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/7107778fb6bf>
                        基于HTML+PhantomJS的卡牌生成器</td>
                        </a>
                    <td>12</td>
                    <td>235</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/b4bfc7ba11b0>
                        分辨率适配的取值范围</td>
                        </a>
                    <td>9</td>
                    <td>223</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/beded23e3a40>
                        小程序「Github开源社区」</td>
                        </a>
                    <td>1</td>
                    <td>1741</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/cd0091aacf89>
                         Spring框架注解扫描开启之配置细节</td>
                        </a>
                    <td>26</td>
                    <td>710</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/1a3f386d1f11>
                         农村女孩高中才接触电脑，却成为程序媛的心路历程</td>
                        </a>
                    <td>0</td>
                    <td>2388</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/28ff38492bf6>
                        AlphaGo之父哈萨比斯——极具智慧的人通常都是异于常人的</td>
                        </a>
                    <td>0</td>
                    <td>2986</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/3255968eb84a>
                        HTML5 进阶系列：canvas 动态图表</td>
                        </a>
                    <td>7</td>
                    <td>1086</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/161c642d5136>
                        关于asyncudpsocket 造成界面卡死</td>
                        </a>
                    <td>1</td>
                    <td>199</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/22167468300f>
                        Huginn教程：微信公众号 转换成 RSS</td>
                        </a>
                    <td>4</td>
                    <td>348</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/ef546456610c>
                        【react实战·菜鸟版】1. 用dva + antd 写一个todolist</td>
                        </a>
                    <td>13</td>
                    <td>762</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/185a4016c25e>
                        刨根究底字符编码之五——简体汉字编码方案(GB2312、GBK、GB18030、GB13000)以及全角、半角、CJK</td>
                        </a>
                    <td>0</td>
                    <td>4638</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/fa96025790a0>
                        原来IT女程序员可以这么厉害!</td>
                        </a>
                    <td>0</td>
                    <td>808</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/74e72b4ea7c5>
                        Windows更改Sticky Notes（便签）字体</td>
                        </a>
                    <td>1</td>
                    <td>82</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/584055744365>
                        快速搭建高可用Redis集群</td>
                        </a>
                    <td>25</td>
                    <td>2200</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/e20fbeea6fdf>
                        第一章第四课应用GraphCreate Lab&amp; GraphLab Canvas &amp; SFrame中的列操作 &amp; apply</td>
                        </a>
                    <td>0</td>
                    <td>306</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/0b1a17c2730b>
                        HTTP概述</td>
                        </a>
                    <td>11</td>
                    <td>1917</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/fbab269a31eb>
                        HTTP 报文</td>
                        </a>
                    <td>9</td>
                    <td>2600</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/bcb111e59c0e>
                        URL 与资源</td>
                        </a>
                    <td>8</td>
                    <td>828</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/b43461c1401e>
                        新媒体营销执行方案分享</td>
                        </a>
                    <td>0</td>
                    <td>608</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/b157c071d832>
                        Android 心跳灯</td>
                        </a>
                    <td>7</td>
                    <td>402</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/3a84c7539eef>
                        为什么我们需要 Vuex</td>
                        </a>
                    <td>13</td>
                    <td>1003</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/39b5fa1dad26>
                        Instruments 之 CoreAnimation</td>
                        </a>
                    <td>4</td>
                    <td>1076</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/ac8531f4baed>
                        安装http－server</td>
                        </a>
                    <td>0</td>
                    <td>203</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/8181859b1558>
                        Mac上使用Ionic</td>
                        </a>
                    <td>14</td>
                    <td>1240</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/8d4e9ec5387e>
                        用 husky 和 lint-staged 构建超溜的代码检查工作流</td>
                        </a>
                    <td>11</td>
                    <td>1835</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/3ab6d4132aab>
                        CentOS 7 下 Firewalld 折腾记</td>
                        </a>
                    <td>11</td>
                    <td>650</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/8a2b276ecb0a>
                        人工智能资料库：第57辑（20170525）</td>
                        </a>
                    <td>0</td>
                    <td>458</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/3d596976f3af>
                        常用开源框架中设计模式使用分析- 装饰器模式（Decorator Pattern）</td>
                        </a>
                    <td>3</td>
                    <td>440</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/0ea260b8a787>
                        使用ConstraintLayout制作漂亮的动画</td>
                        </a>
                    <td>6</td>
                    <td>821</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/05df92648f92>
                        再见,我曾经喜欢的C语言</td>
                        </a>
                    <td>3</td>
                    <td>570</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/47ac170d86fb>
                        Laravel 下配置 Redis Session</td>
                        </a>
                    <td>11</td>
                    <td>573</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/b1426bcaf382>
                        Angular 2 CLI 开发环境的建立与App应用开发入门</td>
                        </a>
                    <td>0</td>
                    <td>517</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/f16db4045a42>
                        PHP 面向对象</td>
                        </a>
                    <td>0</td>
                    <td>66</td>
                    </tr>
                
                    <tr>
                        <td>
                        <a href=http://www.jianshu.com/p/e348e044aa08>
                        Python字典</td>
                        </a>
                    <td>10</td>
                    <td>270</td>
                    </tr>
                
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="js/echarts.common.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>